body{
    margin: 0;
    padding: 0;
    min-width: 320px;
}
.ciklum-task{
    display: grid;
    grid-template:
    "microsoft"
    "dropbox"
    "invision"
    "oculus"
    "apple";
    grid-gap: 0px;
}